@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

body{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    line-height:1.3;
    width:100%;
    font-family: 'M PLUS 1p', sans-serif;
    color: #393E46;
}

header {
    width: 85%;
    margin: 0 auto;
    margin-top: 0.5em;
    background: #00ADB5;
    padding: 0.5em;
    border-radius: 8em;
    text-align: left;
}

header h1{
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    line-height: 0.5;
    padding: 0.2em;
    margin: 0.7em;
    font-family: 'Kosugi', sans-serif;
    color: white;
}

.message{
    width:80%;
    margin:auto;
}

/* 吹き出し内 */
.user_text_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 12px;
    background-color: #f2f8f8;
    text-align: left;
    font-size: 16px;
    color: #000000;
}

.user_text_box::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent transparent #f5f8fa;
    translate: 100% calc(-50% - 0.4px);
    transform: skew(0, -10deg);
    transform-origin: left;
}

.uname {
    margin: 0;
    text-align: left;
}

.nowDate {
    margin: 0;
    text-align: right;
}

.chatey_text_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 12px;
    background-color: #9bee8c;
    text-align: left;
    font-size: 16px;
    color: #000000;
}

/* 矢印の方向を左側に変更 */
.chatey_text_box::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 0;
    /* 右側から左側に変更 */
    border-style: solid;
    border-width: 16px 0 0 16px ;
    /* 矢印の方向を変更 */
    border-color: #9bee8c transparent transparent transparent;
    translate: -100% calc(-50% + 0.4px);
    /* 矢印を左に移動 */
    transform: skew(0, 10deg);
    /* skew の方向を変更 */
    transform-origin: right;
    /* 変形の基点を右側に設定 */
}